{
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "extends": ["standard", "prettier"],
  "plugins": ["prettier", "import"],
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "rules": {
    "eqeqeq": "off",
    "camelcase": "off",
    "class-methods-use-this": "off",
    "no-console": "off",
    "no-shadow": "off",
    "prettier/prettier": "error",
    "no-new": "off",
    "array-callback-return": "off",
    "no-empty": "off",
    "no-async-promise-executor": "off",
    "no-sequences": "off",
    "no-debugger": 2,
    "no-trailing-spaces": 2,
    "no-labels": "off"
  }
}
